.search {
  &__form {
    &-group {
      position: relative;
    }
    &-icon {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      font-size: 20px;
      color: #a5abb2 !important;
    }
    &-input {
      font-weight: 500;
      font-size: 14px;
      border-radius: 30px;
      background-color: #eee;
      outline: none;
      border: none;
      padding: 20px 20px 20px 60px;
      width: 350px;
    }
  }
}
